body {
  font-family: Montserrat, sans-serif;
  color: black;
  background-color: hsla(120, 100%, 25%, 1);
  line-height: 1.5;
}

.razer-brand {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.razer-header {
  text-align: center;
}

.razer-products {
text-align: center;
}

.deathadder-product {
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: #0afe00
}

.kraken-product {
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  color: rgb(10, 254, 0);
}

.blackwidow-product {
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: normal;
  color: rgba(0, 254, 0, 1);
}

.orbweaver-product{
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  color: hsl(118, 100%, 50%);
}

figcaption::first-letter {
    color: #0afe00;
}

figcaption ::first-line {
  color: black;
}

footer {
  text-indent: 2%;
}
